
/*desktop*/
@media screen and (min-width: 1025px) {
    body{
        background-color: rgb(234, 237, 240);
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: rgb(15, 15, 49);
        height: 50px;
        margin-top: 0;
    }

    .search{
        background-color: rgb(66, 66, 88);
        height: 50px;
        margin-top: 0;
    }

    .bar{
        background-color: rgb(233, 233, 241);
        height: 30px;
        top: 10px;
        position: relative;
        width: 30vw;
        left: 35vw;
    }





    .current{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .temp{
        height: 250px;
        background-image: linear-gradient(rgb(96, 96, 201), rgb(40, 40, 124));
        grid-area: 1fr;
    }

    .specs{
        height: 250px;
        background-color: rgb(177, 182, 187);
        grid-area: 2fr;
        margin: 0;
        width: auto;
    }





    .hourly{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .hour{
        height: 100px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .info{
        background-color: rgb(177, 182, 187);
        height: 50px;
        margin-top: 50px;
    }





    .forecast{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 200px;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .day{
        height: 200px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .stat{
        background-image: linear-gradient(rgb(208, 208, 231), rgb(141, 165, 179));
        height: 80px;
        margin-top: 120px;
    }




    .map{
        margin-top: 50px;
        width: 100vw;
        height: 700px;
        background-image: linear-gradient(rgb(71, 107, 34), rgb(31, 100, 58));
        border-top: solid rgb(51, 51, 51) 10px;
        border-bottom: solid rgb(51, 51, 51) 10px;
        margin-bottom: 50px;
    }
}






/*ipad*/
@media screen and (max-width: 1024px) and (min-width: 768px) {



    body{
        background-color: rgb(234, 237, 240);
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: rgb(15, 15, 49);
        height: 50px;
        margin-top: 0;
    }

    .search{
        background-color: rgb(66, 66, 88);
        height: 50px;
        margin-top: 0;
    }

    .bar{
        background-color: rgb(233, 233, 241);
        height: 30px;
        top: 10px;
        position: relative;
        width: 30vw;
        left: 35vw;
    }





    .current{
        padding: 10px;
        display: grid;
        margin-top: 50px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .temp{
        height: 250px;
        background-image: linear-gradient(rgb(96, 96, 201), rgb(40, 40, 124));
    }

    .specs{
        height: 250px;
        background-color: rgb(177, 182, 187);
        margin: 0;
        width: auto;
        margin-top: 10px;
    }





    .hourly{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 0px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .hour{
        height: 100px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .info{
        background-color: rgb(177, 182, 187);
        height: 50px;
        margin-top: 50px;
    }





    .forecast{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 200px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .day{
        height: 200px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .stat{
        background-image: linear-gradient(rgb(208, 208, 231), rgb(141, 165, 179));
        height: 80px;
        margin-top: 120px;
    }




    .map{
        margin-top: 50px;
        width: 100vw;
        height: 700px;
        background-image: linear-gradient(rgb(71, 107, 34), rgb(31, 100, 58));
        border-top: solid rgb(51, 51, 51) 10px;
        border-bottom: solid rgb(51, 51, 51) 10px;
        margin-bottom: 50px;
    }
}







/*iphone*/
@media screen and (max-width: 767px) {

    body{
        background-color: rgb(234, 237, 240);
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: rgb(15, 15, 49);
        height: 50px;
        margin-top: 0;
    }

    .search{
        background-color: rgb(66, 66, 88);
        height: 50px;
        margin-top: 0;
    }

    .bar{
        background-color: rgb(233, 233, 241);
        height: 30px;
        top: 10px;
        position: relative;
        width: 30vw;
        left: 10vw;
    }





    .current{
        margin-top: 50px;
    }

    .temp{
        height: 250px;
        background-image: linear-gradient(rgb(96, 96, 201), rgb(40, 40, 124));
        width: 100vw;
    }

    .specs{
        height: 450px;
        background-color: rgb(177, 182, 187);
    }





    .hourly{
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-left: 7vw;
        margin-right: 40vw;
    }

    .hour{
        height: 100px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .info{
        background-color: rgb(177, 182, 187);
        height: 50px;
        margin-top: 50px;
    }





    .forecast{
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 200px;
        margin-left: 7vw;
        margin-right: 40vw;
    }

    .day{
        height: 200px;
        background-image: linear-gradient(rgb(15, 15, 48), rgb(0, 0, 0));
        grid-area: 1fr;

    }

    .stat{
        background-image: linear-gradient(rgb(208, 208, 231), rgb(141, 165, 179));
        height: 80px;
        margin-top: 120px;
    }




    .map{
        margin-top: 50px;
        width: 100vw;
        height: 700px;
        background-image: linear-gradient(rgb(71, 107, 34), rgb(31, 100, 58));
        border-top: solid rgb(51, 51, 51) 10px;
        border-bottom: solid rgb(51, 51, 51) 10px;
        margin-bottom: 50px;
    }



}